<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="alternate" type="application/atom+xml" title="Xinyi’s blog" href="/feed.xml">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li>&copy; 2020 XinYi Zhang</li>
					<li><a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a></li>
				</ul>
			</footer>
		</body>
	</html>
